{% extends 'fikir/base.html' %}

{% block main %}

<div class="container mt-5 text-center"> 
<div class="card text-center">
 <div class="card text">
  <div class="card-header">
    UYARI
  </div>   
 </div>
   <h6 class="card-title"> Girdiğiniz e-posta ile bir hesap varsa, şifrenizi belirleme talimatlarını size e-posta ile gönderdik.Onları kısa sürede almalısın.</h5>
  <p1 class="card-text">Bir e-posta almazsanız, lütfen kayıt olduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.</p>
    <a href="#" class="btn btn-primary">Tekrar Dene</a>
  </div>
</div>
</div>
{% endblock %}