<div class="container-fluid w-75 mt-4">
  <ul class="nav nav-pills">
    <li class="nav-item col-md-3">
      <a class="nav-link btn btn-info" href="#">Haftanın En İyileri</a>
    </li>
    
    <li class="nav-item col-md-2">
      <a class="nav-link btn btn-info" href="#">Ayın En İyileri</a>
    </li>
    <li class="nav-item col-md-2">
      <a class="nav-link btn btn-info" href="#">Gerçekleştirilenler</a>
    </li>
    <li class="nav-item dropdown col-md-2">
      <a class="nav-link dropdown-toggle btn btn-info" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Listele</a>
      <div class="dropdown-menu">
        <a class="dropdown-item btn btn-info" href="#">En Beğenilenler</a>
        <a class="dropdown-item btn btn-info" href="#">Zamana Göre En Son</a>
        <a class="dropdown-item btn btn-info" href="#">Zamana Göre İlk</a>    
      </div>   
    </li>
    <li> 
    <form class="form-inline col-md-4 container-fluid">
    <input class="form-control" type="text" placeholder="Arama" aria-label="Search">
      </form>
    </li>
   <!-- Links -->
<!-- Search form -->
  </ul>
  </div>