<div class="container-fluid w-75 mt-4">
    <nav class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#">Haftanın En İyileri <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ayın En İyileri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1">Gerçekleştirilenler</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Listele
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Zamana Göre En İlk Eklenenler</a>
                  <a class="dropdown-item" href="#">Zamana Göre En Son Eklenenler</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">En Beğenilenler</a>
                  
                </div>
              </li>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Arama" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
          </form>
        
        </>
  </div>