
<div class="row">
    <div class="mx-auto mt-3 w-75">
      <div class=" card card-signin">
          <div class="card-header w-100 text-center">
              Parola Güncelle
            </div>
        <div class="card-body">
          <div class="row text-center">        
          </div>
          <br/>
          <span class="label label-warning">{% if form.errors %} {%endif%} </span>
          <form class="form-signin" action="{% url 'fikir:ChangePassword' %}" method="post" enctype='multipart/form-data' >
                {% csrf_token %}
                {% include "fikir/form_template.html" %}
                <button class="btn btn-md btn-outline-primary btn-block text-uppercase btn-lg" type="submit">{{buttontext}}</button>
          </form>
        </div>
      </div>
    </div>
</div>