{% extends 'fikir/base.html' %}

{% block  title%}
{{ pagetitle }}
{% endblock %}
{% load staticfiles %}
{% block main %}
{% block extraup %}
{% endblock %}

<div class="row">
    <div class="mx-auto col-md-6 col-sm-12">
      <div class=" card card-signin my-5">
        <div class="card-body">
          <div class="row text-center">
              <div class="col-md-6 text-center "> 
              <h3 class="card-title mt-3">{{ formtitle }}</h3>
            </div>
          </div>
          <br/>
          <span class="label label-warning">{% if form.errors %} {%endif%} </span>
          <form id="newIdea" class="form-signin" method="post" enctype='multipart/form-data'
           data-neighborhoods-url="{% url 'fikir:ajax_load_neighborhoods' %}"
           data-streets-url="{% url 'fikir:ajax_load_streets' %}" >
                {% csrf_token %}
                {% include "fikir/form_template.html" %}
                <button class="btn btn-md btn-primary btn-block text-uppercase" type="submit">{{buttontext}}</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% block extrabottom %}
{% endblock %}
{% endblock %}


{% block custom_scripts %}
  <script>
    $("#id_District").change(function () {
      var url = $("#newIdea").attr("data-neighborhoods-url");  // get the url of the `load_cities` view
      var districtId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'district': districtId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_Neighborhood").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

   <script>
    $("#id_Neighborhood").change(function () {
      var url = $("#newIdea").attr("data-streets-url");  // get the url of the `load_cities` view
      var streetId = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'neighborhood': streetId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_Street").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}
