<!DOCTYPE html>

{% load staticfiles %} 
<html lang="tr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Muğla Büyükşehir Belediyesi">

  <title> Bir Fikrim Var - {% block  title%}
             Bir Fikrim Var
        {% endblock %}
        </title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/heroic-features.css" rel="stylesheet">

</head>

<body>

    {% comment %} Menu partial {% endcomment %}
    {% include "partial/base/menu.html" %}

  {% if messagetext %}
 <div class="container-fluid  mt-2 badge badge-{{ messagetype }} block w-100">
    <label class="h3 mt-2"> {{ messagetext }}</label>
 </div>
{% endif %}
  <div class="container-fluid mb-5">
  <!-- Page Content -->
    {% block main %}

    {% endblock %}
  <!-- /.container -->
</div>
  <!-- Footer -->
  <footer class="page-footer bg-dark py-2  text-center ">
    <div class="container">
      <p class="footer-copyright m-0 text-center text-white">Copyright &copy; Muğla Büyükşehir Belediyesi Bilgi İşlem Dairesi 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/jquery/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "vendor/jquery/infinite.min.js" %}"></script>
  <script src="{% static "vendor/custom/custom.js" %}"></script>

</body>

</html>
