<!DOCTYPE html>
<html lang="tr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> {% block  title%}
             Bir Fikrim Var
        {% endblock %}
        </title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Bir Fikrim Var</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
            <!-- If Start -->
            {% if user.is_authenticated %}

            <li class="nav-item">
                <span class="nav-link" href="#"> Kullanici Adi</span>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hesap Ayarları</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "fikir:Logout" %}">Çıkış</a>
          </li>
        {% else %}
        <!-- Else  -->

        <li class="nav-item">
            <a class="nav-link" href="#">Fikrin mi var?</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url "fikir:LoginView" %}">Giriş Yap</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Üye Ol</a>
          </li>

       

        <!-- End If  -->
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    {% block main %}

    {% endblock %}
</div> 
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Muğla Büyükşehir Belediyesi Bilgi İşlem Dairesi 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
