{% extends 'fikir/base.html' %}
{% load staticfiles %}

{% block main %}
<div class="container-fluid mt-5 w-75">   
<div class="row mt-3">
<div class="row mx-auto">
  <div>
<img  class="img-fluid " alt="Responsive image" src="/media/red-car-min12.jpg" > 
</div>
</div>
</div>
<div class="card text-center mt-3">
    <div class="card-body">
      Fikir Tipi <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
  </div>

   
    <div class="card text-center">
      <div class="card-header">
          <h2 class="card-title my-2">Fikir Başlığı</h2>
      </div>
      <div class="card-body">
  
        <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
      </div>
      <div class="card-footer text-muted">
          <h5 class="card-title mt-1">Status:</h5>
          <p class="card-text">Onaylandı.</p>
      </div>
    </div>
  
  <div class="row mt-3">
    <div class="col-sm-6">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                
              <h4 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i>  Adres:</h4>
              
              <p class="card-text">	Emirbeyazıt Mah. Uğur Mumcu Blv. 14 Menteşe, Muğla</p>
             </div>
          </div>
    </div>
    <div class="col-sm-6">
       
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    
                  <h4 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Departman:</h4>
                  
                  <p class="card-text">	Emirbeyazıt Mah. Uğur Mumcu Blv. 14 Menteşe, Muğla</p>
                 </div>
              </div>
</div> 
<div class="col-md-4 offset-md-4">
<button class="btn btn-outline-primary btn-lg btn-block mt-4" value="{{ idea.id}}"><i class="fa fa-thumbs-up"></i> Beğen (<span class="like-count"></span>) </button>
</div>   
</div>
  
</div>



{% endblock %}
