{% extends 'fikir/index.html' %}
{% load staticfiles %}
{% load custom_filters %} 

{% block bestideas %}
<div class="container-fluid w-75 mt-4">
    <!-- Card -->
<div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="http://i.hurimg.com/i/hurriyet/75/750x422/5c0926610f25442cb8aac1fb.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
      
          <!-- Title -->
          <h4 class="card-title h1 w-responsive text-info text-center font-weight-bold my-1"><strong>Muğla Büyükşehir Belediyesi</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold h4 indigo-text py-2">2019'da Muğla'm İçin Bir Fikrim Var</h6>
          <!-- Text -->
          <p class="card-text">Muğla için Bir Fikrim Var uygulamasının amacı Muğla'm için çok güzel bir fikrim var ama kimseye iletemiyorum' diyen, Muğla için derdi olan insanların yönetim süreçlerine doğrudan dahil olmasını sağlamak ve Muğla için belirlenen hedeflere sevgi, hoşgörü ve hizmet ile beraber yürümektir.
          </p>
      

      
        </div>
      
      </div>
      <!-- Card -->
<!-- Card group -->
<div class="card-group">
 {% for idea in object_list %}
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="{{ idea|cast_image_type:3 }}" onerror="this.src='{% static 'default_idea.jpg' %}'" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->

            {% if idea.Title|length > 50 %}
              <h4 class="font-weight-bold mb-3">{{ idea.Title|slice:"0:40" }}...</h4>
                  {% else %}
              <h4 class="font-weight-bold mb-3">{{ idea.Title }}</h4>
                {% endif %}    

            <!-- Text -->
             {% if idea.Description|length > 100 %}
            <p class="card-text">{{ idea.Description|slice:"0:95"}}...</p>

                  {% else %}
            <p class="card-text">{{ idea.Description}}</p>

                {% endif %} 

            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a class="btn col-md-6 offset-md-1  btn-info " href="{% url 'fikir:DetailView' idea.id %}"> Daha Fazlasını Görüntüle</a>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      {% endfor %}
      </div>
      <!-- Card group -->
                  
</div>

{% endblock %}

{% block filter %}
{% endblock %}

{% block latestideas %} 
<!-- <div class="container mt-4">
        <div class="w-25 bg-warning">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'mbblogo.png' %}" class="img-fluid">
                    <div class="card-body">
                    <h5 class="card-title">Fikir Başlığı</h5>                    
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Gönderen</li>                   
                        </ul>
                    <div class="card-body">
                    <a href="#" class="card-link">Beğeni Sayısı</a>
                    <button type="button" class="btn btn-outline-primary ml-5">Beğen</button>
                    </div>
                      </div>
    </div>
    </div> -->
{% endblock %}