{% extends 'fikir/base.html' %}
{% load staticfiles %}


{% block main %}

<div class="container">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="..." class="card-img-center" >
      </div>
        <div class="card" style="width: 18rem;">
         
                <div class="col-md-8">
                <h5 class="card-title">Hesap Bilgileri</h5>
                <p class="card-text">İsim:Ali Can</p>
                <p class="card-text">Doğum Tarihi:10.10.2000</p>
                <p class="card-text">Eğitim:Lisans mezunu</p>
              <a href="#" class="btn btn-primary">Hesap Ayarları</a>
             </div>
            </div>
          </div>
      </div>
  </div>
</div>
  {% endblock %}