{% extends 'fikir/base.html' %}
{% load staticfiles %}


{% block main %}


{% block profilepicture %}
<div class="container-fluid mt-5 w-75">       
    <div class="panel panel-default mt-4">
        <div class="row">
          <div class="col-md-6">
            
           <div class="panel-body w-25">   
            <img alt="User Pic" src="{% if current_profile.ProfilePhoto %}{{current_profile.ProfilePhoto.url}}{% else %}{% static 'default/profile_photo.png' %}{% endif %}" id="profile-image1" onerror="this.src='{% static 'mbblogo.png' %}'" class="rounded-circle mx-auto d-block"> 
            </div> 
           </div>
         
           
          <div class="col-md-6" >
             <div class="container mt-4" >
                 <h1>{{current_profile.Name}} {{current_profile.Surname}}  </h1>
               </div>
                   <h2> @{{current_profile.UserT.username}} </h2>
                   <br/>
                   <hr>
               <div class="h4">
               <div class="tital mt-5 " >Katılım Tarihi: {{current_profile.UserT.date_joined}}</div>
                </div>
           </div>
          </div>  
     </div>
</div>
{% endblock %}


{% block ideas %}

<div class="container-fluid w-75 mt-5">    
      
      <ul class="nav nav-pills mb-3 nav-justified" >
          <li class="nav-item w-25 mr-3 mt-4">
            <a class="btn nav-link {{my_ideas}}" href="{% url "fikir:ProfileView"%}">Fikirlerim</a>
          </li>
          <li class="nav-item w-25 mr-3 mt-4" >
            <a class="btn nav-link {{my_like_ideas}}" href="{% url "fikir:MyLikeProfileView"%}" >Beğendiğim Fikirler</a>
          </li>
          <li class="nav-item w-25 mt-4">
            <a class="nav-link btn btn-block btn-info" href="{% url 'fikir:NewIdeaView' %}" > <i class="fa fa-plus" ></i> Yeni Fikir</a>
          </li>
        </ul>
        
        <div >
          <div>
              {% include 'partial/timeline/idea_list.html' with idealist=idea_list settings_menu_display=settings_menu_display %}
          </div>
        </div>
     

</div>


{% endblock %}


  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
  
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="idea-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
            <div class="modal-body">
                Silme işlemini onaylıyor musunuz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">İptal</button>
                <a class="btn btn-danger btn-ok">Onaylıyorum</a>
            </div>
        </div>
      </div>
</div>

{% endblock %}