{% extends 'fikir/index.html' %}
{% load staticfiles %}


{% block bestideas %}
<div class="container-fluid w-75 mt-4">
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
          <div class="carousel-inner" role="listbox">

        {% if slideIdeas %}
          {% for slideIdea in slideIdeas %}
          <div class="carousel-item active">
            <div class="view">
            {% with imagePath=slideIdea.photo_set.all.first.Image.url%}
            <img class="d-block img-fluid responsive w-100" height="300px" src="{{ imagePath }}" alt="">
            {% endwith %}
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">{{ slideIdea.Title }}</h3>
            </div>
          </div>
          {% endfor %}
          <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->
        </div>
          {% endif %}

        </div>
        
         
{% endblock %}

{% block filter %}
<div class="container-fluid w-75 mt-4">
  <ul class="nav nav-pills">
    <li class="nav-item col-md-3">
      <a class="nav-link btn btn-info" href="#">Haftanın En İyileri</a>
    </li>
    
    <li class="nav-item col-md-2">
      <a class="nav-link btn btn-info" href="#">Ayın En İyileri</a>
    </li>
    <li class="nav-item col-md-2">
      <a class="nav-link btn btn-info" href="#">Gerçekleştirilenler</a>
    </li>
    <li class="nav-item dropdown col-md-2">
      <a class="nav-link dropdown-toggle btn btn-info" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Listele</a>
      <div class="dropdown-menu">
        <a class="dropdown-item btn btn-info" href="#">En Beğenilenler</a>
        <a class="dropdown-item btn btn-info" href="#">Zamana Göre En Son</a>
        <a class="dropdown-item btn btn-info" href="#">Zamana Göre İlk</a>    
      </div>   
    </li>
   <!-- Links -->
<!-- Search form -->
<form class="form-inline col-md-3">
<input class="form-control" type="text" placeholder="Arama" aria-label="Search">
</form>
  </ul>
    
  </div>
 
      
       
{% endblock %}

{% block latestideas %} 

<div class="container-fluid w-75 mt-4">
        <!-- Section heading -->
        <h2 class="h1 w-responsive text-info text-center font-weight-bold my-3">FİKİRLERİNİZ</h2>
        <!-- Section description -->
        <div class="mt-0 float-right col-md-2 text-center">
                <a href="{% url 'fikir:NewIdeaView' %}" class="btn btn-info btn-block">
                  <i class="fa fa-plus"></i> YENİ FİKİR
                </a>
                 
        </div>
        <div class="col-md-9">
        <p class="grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit est laborum.</p>
        </div>
        
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
        
        {% for idea in ideas %}
          <!-- Grid column -->
          <div class="col-md-4 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2">
              <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Excerpt-->           
            <div class="card-body">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              <a href="" class="green-text">
                <h5 class="font-weight-bold mt-2 mb-3"><i class="fa fa-1x {{ idea.Ideatype.Icon }}"></i> {{ idea.Ideatype.IdeaName }}</h5>
              </a>
              {% if idea.Title|length > 50 %}
              <h4 class="font-weight-bold mb-3">{{ idea.Title|slice:"0:40" }}...</h4>
                  {% else %}
              <h4 class="font-weight-bold mb-3">{{ idea.Title }}</h4>
                {% endif %}     

                {% if idea.Description|length > 100 %}     
              <p>{{ idea.Description|slice:"0:95" }}...</p>

                  {% else %}
              <p>{{ idea.Description }}</p>

                {% endif %}     

              <a class="btn btn-outline-primary btn-block "> Daha Fazlasını Görüntüle</a>
              <div class="card-body">
                    <button class="btn btn-block btn-outline-primary"><i class="fa fa-thumbs-up"></i> Beğen</button>
                    </div>
            </div>
          </div>
          <!-- Grid column -->
        {% endfor %}

         
        
        </div>
        <!-- Grid row -->
        
     
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

          {% if ideas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?s={{ ideas.previous_page_number }}" tabindex="-1">Geri</a>
              <li class="page-item"><a class="page-link" href="?s=1">İlk</a></li>
            </li>
            {% endif %}

              <li class="page-item disabled"><a class="page-link" href="#">{{ ideas.number }}</a></li>
              
              {% if ideas.has_next %}
              <li class="s-item">
                  <li class="page-item"><a class="page-link" href="?s={{ ideas.next_page_number }}">İleri</a></li>
                  <li class="page-item"><a class="page-link" href="?s={{ ideas.paginator.num_pages }}">Son</a></li>
              </li>
             {% endif %}
          </ul>
        </nav>
    </div>
   
{% endblock %}

 